@use "~assets" as *;

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-tertiary;
  padding: $spacing-md;

  @include respond-to(md) {
    padding: $spacing-lg;
  }
}

.container {
  width: 527px;
}
