@use "~assets" as *;

.wrapper {
  width: 100%;
}

.input {
  width: 100%;
  background-color: $color-bg-secondary;
  border: none;
  border-radius: $border-radius-md;

  &::placeholder {
    color: $color-text-muted;
  }

  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}
